.div-1,
.div-2 {
  display: inline-block;
  margin-left: 300px;
  margin-bottom: 100px;
}

.div-3 {
  margin-left: 600px;

}

.buttons {
  margin-left: 425px;
  margin-top: 75px;
}

#rock {
  margin-right: 150px;
}

#paper {
  margin-right: 150px;
}




